<!DOCTYPE html>
<html>
<head>
    <title>Markdown Previewer</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/markdown/markdown.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/highlight.js/8.0/styles/default.min.css">
    <style type="text/css">
        body{
            width: 60%; padding-left: 20%; padding-bottom: 200px;
        }
        pre code{
            max-height: 100%;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <form class="form-horizontal" id="query-form" type="POST">
                    <fieldset>
                        <legend>
                            Markdown 文件预览
                            <a class="btn btn-success pull-right" href="/">首页</a>
                        </legend>
                        <div class="control-group">
                            <label class="control-label" for="input-path">md 文件地址</label>
                            <div class="controls">
                                <input type="text" class="input-xxlarge" name="input-path" value="{{path}}">
                                <p class="help-inline"></p>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">预览</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% autoescape None %}
    <div id="md-content">
        {{content}}
    </div>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/sugar/1.4.1/sugar-full.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/highlight.js/8.0/highlight.min.js"></script>
<script type="text/javascript" src="/static/markdown/markdown.js"></script>
<script type="text/javascript">
$(function() {
    (function() {
        if($("#md-content").html().length > 5) {
            if (document.body.scrollTop < $("#md-content").offset().top) {
                $("body").animate({ scrollTop : $("#md-content").offset().top - 10 }, "slow");
            }
        }
    }).delay(1000);
})
</script>
</body>
</html>